[2016-07-15 08:53] raniejade opened #1 "Run configuration"
Should be somewhat similar to the JUnit Run configuration.

![screen shot 2016-07-15 at 4 50 55 pm](https://cloud.githubusercontent.com/assets/1041919/16868833/5fc43400-4aac-11e6-8745-d2faaa59f05c.png)

Main inputs will be a class (extends `Spek` or `SubjectSpek`) and optional scope reference. A scope can either be a `group` or a `test`, the tree will be built by inspecting the PSI tree for that s

[2016-07-20 09:30] #1 closed

[2016-07-20 09:30] raniejade opened #2 "Allow choosing a specific scope to run for a given spec"

[2016-07-20 09:31] raniejade opened #3 "Gutter icons for creating run configurations"

[2016-07-20 09:32] raniejade opened #4 "Decouple test runner from junit 5"

[2016-07-20 09:32] raniejade opened #5 "Add location hints for scopes"

[2016-08-08 14:35] #3 closed

[2016-08-08 14:35] #2 closed

[2016-09-02 11:50] Adambl4 opened #6 "Android project needs to be rebuilt after every change in a Spek scope"
Otherwise plugin doesn't catch that changes
AS      `2.1.3`
Plugin `0.2.4`

[code]

[2016-09-03 03:35] raniejade commented on #6
Still setting up an android dev environment, but I got a question. In the run/debug configuration do you have something like this (Before launcher: Make, ...:)?

![screenshot from 2016-09-03 11 33 14](https://cloud.githubusercontent.com/assets/1041919/18222442/6e73c6c4-71ca-11e6-848b-e5983bb42a3e.png)

[2016-09-03 04:12] raniejade opened #7 "Support for creating Speks in IntelliJ IDEA"
https://twitter.com/craig_bass/status/770003615733977089?s=03

Ref: JetBrains/Spek#113

[2016-09-03 05:25] raniejade commented on #6
Okay I know the problem, it's the 'Make'. Looking at a JUnit run configuration:

![screenshot from 2016-09-03 13 17 10](https://cloud.githubusercontent.com/assets/1041919/18222926/da09952c-71d8-11e6-8270-6a2a18b79a25.png)

It has a `Gradle-aware make` which is not available for Spek's run configuration. See https://android.googlesource.com/platform/tools/adt/idea/+/studio-master-dev/android/src/co

[2016-09-03 09:36] raniejade opened #8 "When @RunWith(...) is present, running individual tests is not working"
This due to the junit plugin taking over and there is no easy way to fix this. To avoid confusion we will disable the line markers if that annotation is present.

[2016-09-03 10:58] raniejade commented on #7
Extensions point for creating tests makes several assumptions that is not compatible spek, it will be very hacky to extend it to add Spek support. I'm going to create a create spec intent that will be specific to Spek.

[2016-09-23 10:13] raniejade opened #9 "Structure support in IntelliJ IDEA"
@rharter

Ideally this would be similar to the test results structure, but listing the test cases within the class

[2016-09-24 04:48] raniejade opened #10 "Plugin is broken in 2016.2.4 (Kotlin 1.0.4)"
[code]

[2016-09-24 05:40] raniejade commented on #6
For reference: https://youtrack.jetbrains.com/issue/IDEA-131627

[2016-09-26 10:42] outlying commented on #10
Seems like the same issue with:
[code]

[2016-09-29 09:22] raniejade commented on #10
@outlying are you able to upgrade the kotlin plugin to `1.0.4`?

[2016-10-08 19:58] hannesstruss commented on #10
Seeing the same issue with Kotlin 1.1-M01-IJ2016.1-29

[2016-10-09 11:36] raniejade opened #11 "When a container fails the test result still show it as a passing test."

[2016-10-10 07:23] gavocanov opened #12 "Plugin crushing in IDEA EAP 2016.3"
Hi!

When trying to run any test in IDEA EAP 2016.3 the plugin crashes with the following stack trace:

[code]

[2016-10-10 07:40] gavocanov opened #13 "Tests complete but the instance never finishes"
When running Spek tests all tests are finished but the tests executor thread never exits, visible in the screenshot.

This happens to me when running tests in IDEA 2016.2.4,
Kotlin: Version: 1.0.4-release-IJ2016.1-112
Spek plugin version: Version: 0.2.5
Tests dependencies:
[code]
![screen shot 2016-10-10 at 10 37 36](https://cloud.githubusercontent.com/assets/1512839/19229392/d7a97fa8-8ed5-11e6-8d

[2016-10-10 09:20] raniejade commented on #13
Can you include the test source? Would really help the investigation.

[2016-10-10 09:22] raniejade commented on #12
Thanks, will get back to you when I replicate this.

[2016-10-10 13:36] gavocanov commented on #13
Will try to create a simple case, that exact one is proprietary so....
But it behaves like that for every spec I have, using SubjectSpek<T>, maybe that's causing trouble?

[2016-10-14 09:49] gavocanov commented on #13
Hi,

Tried to reproduce this and with normal stuff it works ok, it was a problem with my code, very sorry for bothering you.

[2016-10-14 09:49] #13 closed

[2016-10-15 08:59] raniejade opened #14 "Plugin does not compile with kotlin 1.1 plugin (eap)"

[2016-10-15 09:00] raniejade commented on #10
Should be fix at 8f487112c6d3ee17321ebba7e4a8cbb0f355181c, please upgrade the kotlin plugin to `1.0.4`. @hannesstruss I've filed #14 for your issue.

[2016-10-15 09:00] #10 closed

[2016-10-15 09:01] raniejade commented on #8
Fixed at 73d2cfff0fc9d60f5e754469a98be9a8203712cc.

[2016-10-15 09:01] #8 closed

[2016-10-15 12:47] raniejade commented on #11
SMTestRunner doesn't support container failures, we can't do anything for now.

[2016-10-16 04:07] raniejade opened #15 "Decouple from SMTestRunner"

[2016-10-16 09:26] #4 closed

[2016-10-22 08:36] raniejade opened #16 "NPE when viewing nested spec"
[code]

[2016-10-22 11:27] #16 closed

[2016-10-23 16:40] hannesstruss commented on #14
Spek Plugin 0.2.5 and Kotlin Plugin 1.1-M02-12-IJ2016.2-1 seem to work 🙇

[2016-10-23 16:53] hannesstruss opened #17 "Feature request: Allow running all tests in a folder/package"
The JUnit plugin allows running all tests in a folder or package. You can either manually create a configuration that does this, or right click a folder/package and choose "run..."

This would be a great feature to have in the Spek plugin as well!

<img width="400" alt="run_debug_configurations" src="https://cloud.githubusercontent.com/assets/115381/19627867/7bac2616-9951-11e6-98b1-203142b9dd67.pn

[2016-10-23 17:25] hannesstruss opened #18 "Test terminates if thrown error contains apostrophe"
Given this spec:

[code]

Both tests should be listed as failed in Idea, but only the second one does while the first one seems to be running indeterminately:

![image](https://cloud.githubusercontent.com/assets/115381/19628065/efc44aca-9955-11e6-8190-5ff34452ddee.png)

I found the difference that causes the behavior is the apostrophe (`'`) contained in the first test's exception message.

[2016-10-25 17:18] Adambl4 opened #19 "java.lang.IncompatibleClassChangeError: class kotlin.reflect.jvm.internal.KFunctionImpl has interface kotlin.jvm.internal.FunctionImpl as super class"
Kotlin `1.1-M02`
[code]

[2016-10-25 17:21] Adambl4 commented on #19
Sorry, duplicate https://github.com/JetBrains/spek/issues/128

[2016-10-25 17:21] #19 closed

[2016-10-30 16:28] jmeeks opened #20 "Cannot run spek tests with latest IntelliJ 2016.3 EAP"
Intellij version

[code]

Kotlin version: `1.0.4`
Spek plugin version: `0.2.5`
Spek version: `1.0.89`

I ran Spek tests from the left-rail shortcut in the editor view. With the latest IntelliJ EAP for 2016.3 -- but not the previous 2016.3 EAP -- I get the following error:

[code]

[2016-11-23 17:57] mosi0815 commented on #20
Same with the final version:

`null
java.lang.IllegalAccessError
	at sun.misc.Unsafe.throwIllegalAccessError(Unsafe.java:1142)
	at com.intellij.execution.configurations.SearchScopeProvider.createSearchScope(SearchScopeProvider.java:32)
	at com.intellij.execution.configurations.CommandLineState.<init>(CommandLineState.java:55)
	at com.intellij.execution.configurations.JavaCommandLineState.<init>(Ja

[2016-11-23 18:34] sblundy commented on #20
I'm seeing the same problem, but I get a different exception with the existing config. I press run and nothing would happen. IntelliJ's exception dialog just popped up. The tests have worked previously and run when I execute the gradle test task. Deleting the config and running anew resulted in a different exception.

### Environment

Spek plugin: 0.2.5
Kotlin version: 1.0.3

### Exception when I

[2016-11-23 21:43] rapasoft commented on #20
This issue has been sitting here for more than 20 days. I don't know how supported is this "official Intellij IDEA plugin", but it's a pity that I had to rewrite all of my Speks to unit tests a day before workshop on which I wanted to present Spek as a nice alternative.

😢

[2016-11-23 22:00] mosi0815 commented on #20
You are right. I also started to use Spek for a small project. I quite like it. But now I have to rewrite 40 test cases to junit. Sure I can run them through Gradle but that's not really convenient.

[2016-11-24 01:14] sblundy commented on #20
And this looks like it's a duplicate of #12

[2016-11-24 02:34] raniejade commented on #20
Hey guys, sorry been busy with work lately. Just finishing up some tasks, will look into it after that.

[2016-11-24 15:27] #20 closed

[2016-11-24 15:28] raniejade commented on #12
Should be fixed with #21

[2016-11-24 15:28] #12 closed

[2016-11-24 15:30] raniejade commented on #18
@hannesstruss sorry I know it's a bit too late. Are you using the JUnit 4 runner?

[2016-11-24 16:16] hannesstruss commented on #18
@raniejade no worries :)

I think I'm not using JUnit 4. I did _not_ annotate my tests with `@RunWith(JUnitPlatform::class)`. Here's an example project which reproduces the issue: https://github.com/hannesstruss/spekplugintest

[2016-11-24 16:25] raniejade commented on #20
@here I released version `v0.2.6` which include the fix provided by @sblundy . Please update and let me know if you experience any problem. (it might take awhile before IDEA to take notice of the new build)

[2016-11-24 16:55] #18 closed

[2016-11-24 16:56] raniejade commented on #18
I have a fix, going to include it the next release. For now avoid using `'` in your test names and exception messages.

[2016-11-24 17:23] hannesstruss commented on #18
Thanks a lot! 🙌

[2016-11-24 19:35] sblundy commented on #20
Thanks @raniejade! Updated and it works fine

[2016-11-24 20:55] rapasoft commented on #20
Thank you, it works :)

Sorry for my rant, but as a Kotlin enthusiast I was really disappointed that I had to rewrite the tests to JUnit and then explain this to a group of people at the workshop. Timing was really bad :(

[2016-11-26 15:32] #17 closed

[2016-11-26 15:33] raniejade opened #22 "Release v0.3.0"

[2016-11-26 15:33] raniejade commented on #15
Resolved in 548d5645aa23f8ab9857972786a5d71bbb1a5a30

[2016-11-26 15:33] #15 closed

[2016-12-03 08:30] raniejade commented on #22
`v0.3.0` is now out!

[2016-12-03 08:30] #22 closed

[2016-12-03 11:53] hannesstruss commented on #18
Can confirm this is fixed in 0.3.0 – thanks again!

[2016-12-10 03:49] raniejade opened #23 "Search project classpath for spek jars"
Currently, we only use the bundled spek (`1.0.89`) jars to run the tests. This version is incompatible with JUnit Platform `1.0.0-M3` but was fixed at `1.1-beta2`. Instead of always using the bundled jars, search the modules classpath of the required dependencies and use it. Only fallback to the original method if some dependency is missing.

[2016-12-10 04:15] #23 closed

[2016-12-13 21:13] angryziber opened #24 "Fails to run with latest Junit5 platform"
When I try running tests.

[code]

Example project:
https://github.com/angryziber/picasa-gallery/tree/spek-junit5

[2017-01-16 23:02] robstoll opened #25 "Make own DSL keywords runnable"
I have implemented own extension functions to have a DSL which suits more my needs. For instance, I have a keyword `inCase` similar to `on` and itThrows similar to `it`.

I do not really now how the plugin works but after a quick glance I guess the current keywords a hard-coded in SpekUtils: If so, then it would be nice to make GROUP_FN and TEST_FN configurable.

[2017-01-17 01:24] raniejade commented on #25
Will look into it. Thanks!

[2017-01-18 04:26] raniejade opened #26 "Ensure all run configuration settings are persisted properly"

[2017-01-19 14:32] caipivara opened #27 "Cast Exception"
- Android studio `2.2.3`
- Kotlin `1.0.6`
- Spek idea plugin  `0.3.2`

Im getting

[code]

[2017-01-19 14:35] raniejade commented on #27
Can you provide the class the editor is at when that exception happened? That would help speed up replication :)

[2017-01-21 11:57] raniejade opened #28 "Use modules spek version instead of the bundled one"
Currently, the plugin bundles its own version of spek (`1.1.0-beta3`) and add it to the classpath when running a spec. This can cause several problem since the classpath also includes the modules dependencies, which can contain the same jars.

[2017-01-21 16:47] raniejade opened #29 "Report about exceptions occurred inside fixture or action body"
[code]

(from https://github.com/JetBrains/spek/issues/160)

[2017-01-22 05:28] #28 closed

[2017-01-23 17:46] rtennantventuretech opened #30 "Argument for @NotNull parameter 'module' of com/intellij/openapi/roots/ModuleRootManager.getInstance must not be null"
Getting this error in IDEA 2016.3.3 when running gradle tasks from within the IDE. Let me know what other information you need. Thanks.

[code]

[2017-01-26 16:23] berlin-ab commented on #25
Plus one. I was recently doing a code kata with the Rock Paper Scissors kata, but I could not get the Spek runner to pick up these tests:

[code]

Using JUnit4's `@RunWith(JUnitPlatform::class)` picks up the whenThrowing method calls as tests.

[2017-01-27 04:43] raniejade commented on #25
This will be a bit tricky to implement, since I have to rework how `UniqueId`s are generated. This ids are used to tell `JUnit Platform` which test to run. Currently the plugin inspects the source and build a `UniqueId` from it (generation code is in sync with `spek-junit-platform-engine`). `UniqueId`s are based on the description passed to `test` and `group`. We only use the source during inspect

[2017-01-30 09:20] jakob-grabner opened #32 "Test framework quit unexpectedly"
When I try to run a test i get the following exception. Running the test with the junit (`@RunWith(JUnitPlatform::class)`) does work.

[code]

[2017-01-31 14:06] raniejade commented on #32
That's weird, it seems you're missing some classes in the plugin. Can you provide your setup? If your using gradle/maven, please provide a build script :)

[2017-02-01 14:45] #26 closed

[2017-02-05 08:41] raniejade commented on #30
Tried replicating it, but failed. Can you give detailed steps to replicate this?

[2017-02-05 08:43] #24 closed

[2017-02-05 11:38] #29 closed

[2017-02-06 16:33] rtennantventuretech commented on #30
It happens in any of our gradle projects when you run a task from within the IDE. I updated to the newest Intellij and Spek 0.3.3 plugin and it still occurs. See screenshot: http://imgur.com/a/bxW4x

[2017-02-06 23:38] raniejade commented on #30
@rtennantventuretech Thanks, will look into it.

[2017-02-07 06:15] raniejade commented on #6
https://code.google.com/p/android/issues/detail?id=233597

[2017-02-14 10:23] raniejade commented on #11
Duplicate of #29

[2017-02-14 10:23] #11 closed

[2017-02-14 10:36] #30 closed

[2017-03-09 14:02] raniejade opened #33 "Isolate jackson module used by tooling"
Conflicts may happen if the test's classpath contains an older version of jackson.

[code]

[2017-03-14 11:42] #33 closed

[2017-03-14 11:43] raniejade commented on #33
Fixed at 1945181edeee8bf9b0871286ef1e42b105b8242e

[2017-03-19 17:38] Jkly opened #34 "Unable to run individual test with on() action"
Plugin version: 0.3.4
IDEA 2016.3.5

When trying to run an individual spec within an on() group, the entire spec file is run instead of the individual.

For example, in the screenshot below, I ran `it("should return the result of adding the first number to the second number")` expecting just that test to run.
<img width="659" alt="screen shot 2017-03-19 at 16 51 43" src="https://cloud.githubuserco

[2017-03-19 23:45] raniejade commented on #34
Yeah, it's a current limitation of the plugin.

[2017-04-17 15:35] moikarin opened #35 ""Include parent environment variables" default does not work & does not persist"
Run -> Edit Configurations ... -> Defaults -> Spek
Click ... (three dots icon) on the "Environment variables" settings
Check "Include parent environment variables"
Click OK
Click OK in parent dialog (Run/Debug Configurations)

Problem 1: running a Spek test creates new run config that does NOT have 'Include parent environment variables' checked.
Problem 2: quit Intellij -> start Intellij. The sett

[2017-05-07 16:04] vokilam opened #36 "Mockito extension is ignored when running with Spek"
Hi.
There is an [incubating feature](https://github.com/mockito/mockito/wiki/What's-new-in-Mockito-2#mock-the-unmockable-opt-in-mocking-of-final-classesmethods) of mockito framework that allows to mock previously unmockable entities like final classes.

Here is a sample project that demonstrates the issue: https://github.com/vokilam/test-spec-mockito/tree/master/app/src/test/java/com/vokilam/test_

[2017-05-08 00:27] raniejade commented on #36
In your kotlin unit test please remove `@Throws(Exception::class)`, it should fail as well. Can you try adding `:assembleDebugUnitTest` as a before run task for the run configuration?

[2017-05-08 08:52] vokilam commented on #36
Removed `@Throws` annotation – same behavior as before: kotlin unit test is passing, final class is mocked (no error messages from mockito).

Added `:assembleDebugUnitTest` task to default configuration for Spek (as described [here](https://blacklenspub.com/bacon-driven-development-in-kotlin-with-spek-376780e7ab3a#142b)). Before that I did it manually. Same behavior for spek test – mokito extensio

[2017-05-08 10:45] raniejade commented on #36
That's weird, I'll have to test with an android project. It's working with a non-android one. I'll get back to you if I have leads.

[2017-05-08 10:59] vokilam commented on #36
My environment is

Android Studio 2.3.1
Build #AI-162.3871768, built on April 1, 2017
JRE: 1.8.0_112-release-b06 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

macOS Sierra 10.12.4

[2017-05-11 07:12] innobead opened #37 "Spek 1.1.1 is not working when using IDEA Spek 0.3.4 plugin"
When using Spek 1.1.1 dependencies and the latest Spec IDEA plugin (0.3.4), fails to run test case with below error, but `gradle test` works.

![image](https://cloud.githubusercontent.com/assets/899492/25936898/2e6d0e44-365c-11e7-80c6-e82a0899720c.png)

[2017-05-11 07:16] raniejade commented on #37
@innobead Please add `org.junit.platform:junit-platform-launcher:1.0.0-M4` to your test classpath for now.

[2017-05-11 16:29] innobead commented on #37
`testRuntime "org.junit.platform:junit-platform-launcher:1.0.0-M4"` works, perfect. Thanks for the tip.

[2017-05-11 16:38] innobead commented on #37
keep it for future fix in next release.

[2017-05-15 07:46] vokilam commented on #36
Anything I can help you with?

[2017-05-15 07:47] raniejade commented on #36
@vokilam Sorry, I haven't really have started the investigation - I'm a bit busy with work stuff right now.

[2017-05-21 12:32] raniejade commented on #36
@vokilam i'm setting up my android environment, by any chance is the test passing when running from the command line?

[2017-05-21 12:35] vokilam commented on #36
Cannot check until tomorrow, sorry. Which task should I run?

On Sun, May 21, 2017, 15:32 Ranie Jade Ramiso <notifications@github.com>
wrote:

[2017-05-21 13:00] raniejade commented on #36
I'm not sure - not an android guy, probably the task that runs the unit tests :)

[2017-05-22 10:42] vokilam commented on #36
Let me check, I will get back

[2017-05-22 15:20] #32 closed

[2017-05-23 08:14] vokilam commented on #36
`./gradlew test` – completes successfully, reports are in app/build/reports/tests folder. I had to annotate test class with `@RunWith(JUnitPlatform::class)` so it can be picked by gradle.

[2017-05-23 09:17] raniejade commented on #36
So most likely the problem is within the IDE. While using `@RunWith(JUnitPlatform::class)` is the test passing when running from the IDE? If it passes, the problem is with the spek plugin, if not most likely it's an IDE issue.

[2017-05-23 20:01] vokilam commented on #36
I'm a bit confused with results I get. I will check in IDEA also and get back :)

[2017-05-24 21:04] fknop commented on #30
I'm having the same issue with 0.3.4, has it been released yet?

[2017-05-25 03:56] raniejade commented on #30
@fknop `0.3.4` has been out months ago. Can you provide the error you're experiencing.

[2017-05-26 14:30] vokilam commented on #36
Okay, here are my results.

**Set up IDEA**
I set up a gradle based java project in IDEA with junit 5.
I created a classic java test and spek test. Each test mocks a `public final class MyClass`.

    MyClass test = Mockito.mock(MyClass.class);

I created a file `test/resources/mockito-extensions/org.mockito.plugins.MockMaker` with following line (configure Mockito extension – now it should mock f

[2017-05-29 13:54] raniejade opened #38 "Warn if there is a possibility of duplicate descriptions within a group"
[code]

[2017-05-30 02:05] raniejade opened #39 "Ignore group/tests that uses dynamic descriptions"
There should be no gutter icons (play button)

[code]

[2017-06-01 18:10] xgouchet opened #40 "AbstractMethodError when running test from IntelliJ"
I'm getting an `AbstractMethodError` whenever I try to run a test using the icons in the gutter :

[code]

The tests run without error when running the `junitPlatformTest` from gradle.

I'm using :
 - IntelliJ `2017.1.3`
 - Spek Plugin `0.3.4`
 - Spek library `1.1.2`
 - JUnit Platform Gradle plugin `1.0.0-M4`
 - Kotlin version `1.1.2-4`

Let me know if you need more information on this issue

[2017-06-02 05:46] xgouchet commented on #40
I found that this was a duplicate of #37 : adding `testRuntime "org.junit.platform:junit-platform-launcher:1.0.0-M4"` solved this issue for me.

[2017-06-02 05:46] #40 closed

[2017-06-09 05:19] encodeering commented on #30
Hello,

@raniejade I can add the stacktrace for `0.3.4`

[code]

[code]

[2017-06-16 22:13] gajwani opened #43 "Compilation Issues and Questions"
Hi @raniejade,

We were trying to add some features to this plugin but didn't have an easy time getting it to compile.

We're wondering if you could add some instructions for how to build this from scratch in IntelliJ . We eventually hacked something together to build the project on our local machine, but aren't sure whether the process we used is the same as yours.

In getting the plugin to run w

[2017-06-17 01:38] raniejade commented on #43
I'm importing it in IntelliJ IDEA as a normal gradle project. I really don't like committing IDE specific files into the repo. To test the plugin you need run:

[code]

For profile I would normally use `idea2016`, you could also use `local` to use a local installation (I use it to test the plugin against Android Studio) but be sure to update `plugin/build.gradle` to point to your actual local inst

[2017-06-26 16:59] lgtout opened #44 "org.jetbrains.spek.idea.SpekConfigurationFactory@4f9da278 produced wrong type: org.jetbrains.kotlin.psi.KtFunctionLiteral cannot be cast to org.jetbrains.kotlin.psi.KtLambdaExpression"
Hi,

I'm getting this exception:

`org.jetbrains.spek.idea.SpekConfigurationFactory@4f9da278 produced wrong type: org.jetbrains.kotlin.psi.KtFunctionLiteral cannot be cast to org.jetbrains.kotlin.psi.KtLambdaExpression`

It doesn't prevent me from using the IDE or the plugin, but I thought I should let you know about it.

Details:

IntelliJ 2017.1.4  Build #IU-171.4694.23:
JRE: 1.8.0_112-release-7

[2017-06-27 10:02] raniejade commented on #44
@lgtout Thanks! Can you give a sample spec I can test out?

[2017-06-28 18:28] lgtout commented on #44
@raniejade Oops!  I didn't think to take note of the code I was working on when it happened.  :(  It seemed to occur every couple of days or so; and I think only when editing a file containing Spek tests, not when running tests.  It hasn't happened since I created this ticket.  But I'll add more information if it does again.  Thanks!

[2017-06-29 00:48] gajwani commented on #43
Thanks for the (future) updates to the README!

Separately, how often do you republish this plugin? I would love to have the test-run feature available widely for others at our office to also use. :)

[2017-06-29 00:51] raniejade commented on #43
@gajwani I'll do it this weekend. Development for the plugin has been halted for the moment, busy with personal stuff and also currently working on new stuff for Spek.

[2017-06-29 00:52] raniejade commented on #44
Thanks, no worries. I'll keep an eye out as well.

[2017-06-29 00:55] gajwani commented on #43
@raniejade That's wonderful! I don't mean to hurry you. If there is anything I can do to help, let me know. Thanks for this plugin and all the new Spek features!

[2017-07-02 01:17] uchuhimo commented on #35
I meet exactly same problem on Windows.

Environment:
Spek plugin: 0.3.4
IntelliJ IDEA Ultimate 2017.1.4 / Build #IU-171.4694.23, built on June 6, 2017
JRE: 1.8.0_112-release-736-b21 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0.15063

[2017-07-02 05:24] #35 closed

[2017-07-02 05:31] raniejade commented on #35
Included in the `0.3.5` release, please update and let me know if the issue is still there.

[2017-07-02 05:32] raniejade commented on #43
`v0.3.5` is out now and I've also updated the README to include development instructions.

[2017-07-02 05:32] #43 closed

[2017-07-02 07:03] moikarin commented on #35
All good now in 0.3.5. Thank you!

[2017-07-02 10:20] uchuhimo commented on #35
Thank you for fixing the issue!

[2017-07-02 14:39] raniejade commented on #36
Hi, sorry for the very long delay. I still cant replicate it, can you try moving `test/resources/mockito-extensions/org.mockito.plugins.MockMaker` to `main/resources/mockito-extensions/org.mockito.plugins.MockMaker` and see if it passes?

[2017-07-04 18:22] jschneider opened #45 "IntelliJ should show "<Click to see difference>" in stack trace"
When running JUnit tests I get those neat "<Click to see difference>" links in the console window if a test has failed. This is very, very valuable because I am comparing large files (JSON, XML) with each other.

Unfortunately that link is not created when running a Spek test.

The thrown exception is the same ("org.junit.ComparisonFailure"). Just the link is missing.
I am not sure who creates the

[2017-07-05 12:25] raniejade commented on #45
I have no idea either, but will  investigate :) Thanks!

[2017-07-18 02:50] sakuna63 opened #46 "Plugin doesn't work with data-driven-extension"
spek data-driven-extension work well on command line execution. but on IDE with Spek plugin, it looks to not execute each test-case defined by `org.jetbrains.spek.data_driven.on`.

environment
[code]

test code

[code]

[2017-07-18 04:23] raniejade commented on #46
A few things to try out: change `\"%s\"` to `'%s'` or change `should be $expected` to `($input) should be $expected`. Let me know if it works.

[2017-07-18 22:44] digizeph commented on #37
Is there a Maven config example for fixing it?

[2017-07-19 03:44] raniejade commented on #37
@digizeph https://github.com/spekframework/spek-maven-sample

[2017-07-31 22:41] robsonpeixoto opened #47 "java.lang.NoSuchMethodError for internal method/functions"
When I define a function as `internal` and run the test on the Intellij, I got the error below. But the command `./gradlew clean test` works like a charm.
[code]

`build.gradle`
[code]

[2017-08-01 01:13] raniejade commented on #47
What version of IDEA are you using? Also can you try:

[code]

[2017-08-01 02:14] robsonpeixoto commented on #47
Thanks, @raniejade. Now it's working.

I have no idea what's happened, but after closing the IDEA and reopen, everything is working well.

This is really needed? http://spekframework.org/docs/latest/#_using_later_versions_of_kotlin

The IDEA version.
[code]

[2017-08-01 02:35] #47 closed

[2017-08-01 03:40] raniejade commented on #47
Good to know. Yes if you want to use the latest version of kotlin, spek's dependency will pull in an older version of kotlin.

[2017-08-01 10:40] robsonpeixoto commented on #47
@raniejade I think it's not necessary.

The gradle/maven should respect the priorities. The output of the command `./gradlew dependencies`
[code]

[2017-08-01 11:43] raniejade commented on #47
Yeah that's good as long as you also pull the correct version of `kotlin-reflect`, it's not backwards compatible. In your case you specified the dependency for `kotlin-reflect:1.1.3-2`, that's why it's working. Most of the time people don't need `kotlin-reflect` so they just include the latest version of `kotlin-stdlib`. Since spek pulls in an older version it's going to fail at runtime.

[2017-08-01 13:45] raniejade commented on #6
Should be fixed in `v0.4.1`.

[2017-08-01 13:45] #6 closed

[2017-08-16 16:30] Adambl4 opened #48 "Red test reported as green if something was printed to console"
[code]
![image](https://user-images.githubusercontent.com/18431607/29374251-6279b8e6-82b9-11e7-8181-bbca82ea469f.png)

Android Studio 3.0 Canary 6
Spek plugin 0.4.1

[2017-08-20 12:06] raniejade commented on #48
Working on a fix now thanks!

[2017-08-20 12:18] raniejade commented on #48
Fixed in `v0.4.2`

[2017-08-20 12:18] #48 closed

[2017-08-21 17:39] Jkly opened #49 "NoSuchMethodError when running test with Spek 1.1.3"
When running a test in IntelliJ IDEA 2017.2.2 with Spek 1.1.3, plugin version 0.4.2, and Junit platform version 1.0.0-RC2, some tests are failing to run in the IDE with:

[code]

All tests are passing OK when run from `./gradlew test`

Snippets from build.gradle:

[code]

[2017-08-22 00:55] raniejade commented on #49
Looks like I have to rebundle `1.0.0-RC2` together with the plugin. Will be working on it this week. For now use Spek `1.1.2`.

[2017-08-22 01:04] raniejade commented on #49
Got a fix already but I still have to do some more testing.

[2017-08-22 01:23] raniejade commented on #49
@Jkly can you help test this build https://drive.google.com/file/d/0BwvIl05UtnaFamRBOGRtMXQ1Z1k/view?usp=sharing? :)

[2017-08-22 08:51] Jkly commented on #49
@raniejade New build seems to fix it, thanks!

[2017-08-22 09:04] raniejade commented on #49
Awesome, thanks! I'll roll it out once I get the time.

[2017-08-22 13:27] raniejade commented on #49
Just published `0.4.3`, should update in a couple of hours.

[2017-08-22 13:27] #49 closed

[2017-09-27 13:40] sakuna63 commented on #46
Sorry, I hadn't read below notice in user guide.

I guess this issues occurs due to junit4 plugin. so I close this.

[2017-09-27 13:40] #46 closed

[2017-10-04 06:40] bazted opened #50 "Could not load test class on Kotlin 1.2-M2 or 1.2.0-beta-31"
I am using Android Studio 3.0 beta 6.

It is a project which has android.application module & JVM module(Kotlin).
Kotlin module contains all tests written on Spek.

I was creating the project at the time of release 1.2-M1, and used
`
           spek        : '1.1.2',
            junit_platform  : '1.0.0-M4',
            junit_jupiter : '5.0.0-M4'
`
Yesterday I have upgraded dependencies above to
`

[2017-10-04 07:35] raniejade commented on #50
Can you check this out https://github.com/spekframework/spek/blob/e659eb633928f74cc52480e734ab6155dc310656/documentation/src/asciidoc/setting-up.adoc#setting-up-android?

[2017-10-04 09:55] bazted commented on #50
It is about configuring Android module, while mine Android module is without tests for now.
Copying src's can make the trick, but the configuration in documentations is heavily dependent on Androids variants.

Additionally, there is process command listed by AS.
[code]
It contains pretty strange path. `/Users/b/projects/android-app/app-bl/build/classes/java/main` which leads firstly to JAVA not Ko

[2017-10-04 11:44] neoneo opened #51 "Failed to discover tests"
Hi,

I keep getting the following error in IDEA:

[code]

Running from the command line works fine.

I've found a related issue here: https://github.com/spekframework/spek/issues/256, but none of the tips posted there have helped. Probably because it's an Android Studio issue, while I'm using IntelliJ IDEA for a non-Android project.

build.gradle:
[code]

How can I get this working? Thanks a lot i

[2017-10-04 14:18] raniejade commented on #51
can you try adding a dependency to `org.junit.platform:junit-platform-runner:${junitPlatformVersion}`?

[2017-10-04 14:23] neoneo commented on #51
That was it, thanks!

[2017-10-04 14:23] #51 closed

[2017-10-05 14:23] DevJake commented on #32
I'm also receiving the same error message, but not receiving any stack trace, just a red, flagged message in the testing console of IntelliJ. Using `@RunWith(...)` doesn't alter the issue, either, but it seems that I can run individual tests, yet am unable to use the 'package' feature, meaning testing has to be performed on a per-file basis.

This is the contents of my build.gradle;
[code]

[2017-10-11 01:21] raniejade opened #52 "Upgrade bundled JUnit Platform to 1.0.0"

[2017-10-27 15:28] rgba opened #53 "Plugin completely breaks debugging when a function with name "advance()" is defined"
When you debug a spek test and your class contains a function named "advance()" this method will be called when stepping over function calls in the debugger.

How to reproduce:

1. Set breakpoint on advance() function call in the for loop
2. Debug spek test via debug functionality
3. When the debugger stops you at the breakpoint just hit "F8" to step over all the function calls, for each time you

[2017-10-30 12:03] CreamyCookie opened #54 "update failed for AnAction with ID=RunClass: Argument for @NotNull parameter 'module' of com/intellij/openapi/roots/ModuleRootManager.getInstance must not be null"
This error message comes up randomly. (I didn't do anything Spek-related.)

[code]

spek version: 1.1.4
plugin version: 0.43
IDEA version: 2017.2.5

[2017-11-09 13:59] snasirca commented on #51
@raniejade's solution worked for me and just to clarify: this is exactly what I did in my Kotlin DSL Gradle `build.gradle.kts`:

[code]

[2017-11-15 02:19] WickeDev opened #55 "How can I get file in current resource path?"
I wanna write my api call test that compare with mocked JSON response from `resources/api-response/auth-response.json` file. when I execute test from command line `./gradlew app:test` was working well but with spek plugin was pending on okhttp3 mock server.

my login api test and utility file:
https://gist.github.com/WickeDev/399d54330fbd759a5659aaf68703fd9e

when execute with spek plugin (test fa

[2017-11-15 11:26] raniejade commented on #54
Not a problem with spek based on the stacktrace
[code]

`ModuleRootManager.getInstance` returned null which it shouldn't suppose to.

[2017-11-15 11:30] raniejade commented on #55
Not an issue with plugin, intellij is probably not treating `resources/api-response/auth-response.json` as a resource that's why it's not being copied to the output directory.

[2017-11-15 12:12] WickeDev commented on #55
@raniejade but intellij(Android Studio 3.0) default embedded JUnit plugin also can read well `resources/api-response/auth-response.json` file in android project

https://i.imgur.com/roNEPJS.png

[2017-11-15 12:15] raniejade commented on #55
What version of the plugin are you using?

[2017-11-15 14:08] WickeDev commented on #55
Read file is working well after spek plugin update to current version (`v0.5.1-android-studio`). but instead two problem occurred. one thing is kotlin icon is too big. another thing is pending forever on below below code as you see.

[code]

https://imgur.com/WOs6AMj

Android Studio: 3.0
JUnit plugin: 1.0
Spek plugin: v0.5.1-android-studio
gradle files:
https://gist.github.com/WickeDev/54f32683638

[2017-11-15 14:23] raniejade commented on #55
It's always pending because your'e not shutting down the webserver.

[2017-11-15 14:38] WickeDev commented on #55
I insert code `mockWebServer.shutdown()` but same

[2017-11-15 14:45] raniejade commented on #55
You should examine a thread dump, there might be a non-daemon thread that is blocking the shutdown.

[2017-11-15 15:13] WickeDev commented on #55
Oh I'm sorry. It's my mistake. I was mockWebServer start on beforeGroup, but did not called shutdown() on afterGroup. Thank you for quick response

[2017-11-15 15:55] CreamyCookie commented on #54
@raniejade So, should I report it on YouTrack (Jetbrains issue tracker)?

[2017-11-15 16:06] raniejade commented on #54
On second thought, it looks like an issue with the plugin. Let me look into it some more.

[2017-11-15 19:43] robstoll opened #56 "0.5.1 and 0.5.2 do not work with kotlin 1.1.51"
I updated the spek-idea-plugin to 0.5.2. I cannot run a single Spek, I always get the following error:
[code]
The same happens with 0.5.1

[2017-11-15 22:29] Rosomack opened #57 "Run tests in folder not working properly when running in Android Studio 3.0"
When right-clicking a folder and clicking `Run tests in <package>` it runs all the tests in the module, should run the ones in the selected package exclusively. This is a mixed JUnit4 / Spek module but it all runs on JUnit 5.

The same thing happens in Android modules with JUnit4 / Spek tests.

Not sure where I should file this bug - is it against this project or one of the JUnit 5 components?

[2017-11-15 22:47] Rosomack opened #58 "Can't get Spek to run single tests in Android Studio 3.0"
Hi there,

We have a multi-module Android project with mixed android or plain java modules. We're now trying to migrate to kotlin and thought tests might be a good point to start. I'm trying to set everything up to run using JUnit 5.

I've managed to get Android module tests fully working in the IDE and the console. For java modules I managed to get 90% there - I hit a wall when debugging an issue

[2017-11-16 03:44] raniejade commented on #58
Hi any reason why you have a plain old java module in an Android project?

[2017-11-16 03:50] raniejade commented on #56
What version of Spek and JUnit Platform are you using? I updated the bundled JUnit Platform used by the plugin. If you can also paste your build script, please do so. Thanks!

[2017-11-16 04:42] WickeDev commented on #58
@Rosomack official junit 5 gradle plugin is not compatible with android project. instead use this one. https://github.com/mannodermaus/android-junit5

[2017-11-16 04:53] raniejade commented on #56
Looks like some incompatible versions of JUnit Platform are in the classpath.

[2017-11-16 10:09] raniejade commented on #58
@Rosomack I see, do you have the latest plugin right? If yes, give me some time to look at it. Supporting AS is a nightmare for me, a lot of hacky stuff just to get proper integration.

[2017-11-16 10:14] Rosomack commented on #58
@raniejade Yup, updated it just yesterday, `v0.5.2-studio3.0`.
Thanks for your hard work on Spek support!

[2017-11-16 14:08] #52 closed

[2017-11-16 14:09] raniejade commented on #58
@Rosomack can you try out this [build](https://drive.google.com/file/d/1Hu_WubWGkMVodcCKfR9D75m2LUyuXjob/view?usp=sharing) if it works?

[2017-11-16 18:22] Rosomack commented on #58
@raniejade WOW, thanks for the quick turnaround!

According to my testing it works, but there are a couple of hiccups. It randomly fails after a clean  with this stacktrace:
[code]

[2017-11-17 10:50] raniejade commented on #58
I'm not sure if it's a problem with the plugin, I just used what AS3 provides. It just runs gradle to build the required modules.

[2017-11-17 12:21] Rosomack commented on #58
OK, I'll keep digging. Thanks for the help!

[2017-11-17 17:36] lxdraw opened #59 "lateinit property module has not been initialized"
Hello,

I updated my Spek plugin today, and it is now throwing an error when I try adding a run configuration.

Error:

Stacktrace:

	at org.jetbrains.spek.idea.SpekJvmSettingsEditor.<init>(SpekJvmSettingsEditor.kt:96)
	at org.jetbrains.spek.idea.SpekJvmRunConfiguration.getConfigurationEditor(SpekJvmRunConfiguration.kt:111)
	at com.intellij.execution.impl.ConfigurationSettingsEditor.<init>(Configu

[2017-11-18 00:09] raniejade commented on #59
Sorry for the inconvenience! This should be fixed with version `0.5.3`.

[2017-11-18 00:09] #59 closed

[2017-11-18 00:13] raniejade commented on #54
Fixed, but it's not part of `0.5.3` release.

[2017-11-18 00:13] #54 closed

[2017-11-18 00:14] raniejade commented on #57
It also runs JUnit X tests?

[2017-11-18 08:59] CreamyCookie commented on #54
Cool, thanks! :)

[2017-11-18 22:27] robstoll commented on #56
spek version 1.1.4 and junit platform 1.0.0-RC3,
I update to plugin 0.5.3, still the same problem.
I update junit platform to 1.0.1 still the same problem.
I update spek to 1.1.5 => problem solved

I downgraded back to junit-platform 1.0.0-RC3 again, still with spek 1.1.5 => problem solved.
So it seems that the plugin is not compatible with spek 1.1.4

The problem is solved for me, since I can upd

[2017-11-19 16:15] Rosomack commented on #57
Correct, it runs all the JUnit 4 tests and all Spek tests it can find in the module instead of only the ones in the folder I point it to.

[2017-11-21 19:06] lxdraw commented on #59
`0.5.3` is working great. Thanks for the update!

[2017-11-22 00:55] jaredsburrows opened #60 "Publish this plugin to the Intellij plugin repositories"

[2017-11-24 06:58] derkork opened #61 "Plugin Exception: Could not initialize class org.jetbrains.spek.tooling.Path"
[code]

Plugin-Version: 0.5.3

IntelliJ IDEA 2017.3 EAP (Ultimate Edition)
Build #IU-173.3727.22, built on November 15, 2017
Expiration date: December 15, 2017
JRE: 1.8.0_152-release-1024-b6 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.6

[2017-11-24 15:41] raniejade commented on #56
I'm closing this for now, there has been a lot of compatibility issues with junit platform :(

[2017-11-24 15:41] #56 closed

[2017-11-24 15:42] raniejade commented on #60
It's already there https://plugins.jetbrains.com/plugin/8564-spek

[2017-11-24 15:42] #60 closed

[2017-11-24 15:42] raniejade commented on #61
Can you reinstall the plugin?

[2017-11-24 15:45] raniejade commented on #57
Just noticed `Run tests in <package>` is managed by JUnit plugin not by spek's plugin. `Run specs in <package>` is the correct action. Sorry for the delays, busy week. I'm closing the issue now, re-open if I miss something.

[2017-11-24 15:45] #57 closed

[2017-11-24 15:47] raniejade commented on #50
This should be fixed in the latest plugin version.

[2017-11-24 15:47] #50 closed

[2017-11-24 15:50] bazted commented on #50
Thank you very much.

[2017-11-26 01:51] raniejade commented on #61
If you can paste the whole stacktrace that would be great.

[2017-11-27 17:57] Rosomack commented on #58
Closing this as the original issue has been resolved. Thanks!

[2017-11-27 17:57] #58 closed

[2017-12-02 15:23] remen commented on #39
This is opposite to my expectations. Why can't I add group/test without the "it/describe" prefixes and have them runnable from within the IDE?

[2017-12-03 00:06] raniejade commented on #39
@remen I think you misunderstood, `group/test` will be supported except for scopes that uses a dynamic description e.g. `it("my test $someVar") { ... }`

[2017-12-03 07:10] remen commented on #39
Oh, of course. My apologies!

[2017-12-14 12:09] andaag opened #62 "spek plugin hangs waiting for jvm to shut down threads"
Dynamodb embedded is a bit horrible (and hacky). The following delegate:
https://gist.github.com/andaag/ee02753549c910ba6ea5ad4b27262682
With this dependency:
testCompile 'com.amazonaws:DynamoDBLocal:1.11.86'

Works fine in gradle, but runs forever when running it through intellij with the spek plugin. (Tests green, but task has to be killed). The reason is that dynamodb embedded does not properly

[2017-12-17 11:34] raniejade commented on #62
Created a new ticket in the main repo, see https://github.com/spekframework/spek/issues/345.

[2017-12-17 11:34] #62 closed

[2018-01-10 16:13] landpro opened #63 "Impossible to run individual test"
IntelliJ IDEA 2017.3.1 (Ultimate Edition)
Build #IU-173.3942.27, built on December 11, 2017
JRE: 1.8.0_152-release-1024-b8 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.13.2

<img width="404" alt="screen shot 2018-01-10 at 19 12 31" src="https://user-images.githubusercontent.com/347369/34782584-3b41a122-f63a-11e7-94b6-274f3c32b194.png">

[2018-01-11 13:49] patjackson52 commented on #6
Still seeing this bug with AS 3.0.1 & spek plugin v0.5.4-studio3.0.  A build must be completed before running the spek test for it to use the updated code in the tests.

[2018-01-11 13:51] raniejade commented on #6
@patjackson52 That's weird, can you check if you have `Gradle-aware Make` in the created run configuration?

[2018-01-11 13:55] patjackson52 commented on #6
Yes, it was there by default.  I removed it and added a gradle task for assemble (This is not an Android module, so I do not have assembleDebugUnitTest).  I then get this error:

WARNING: TestEngine with ID 'spek' failed to discover tests
org.junit.platform.commons.util.PreconditionViolationException: Could not load class with name: MaestroSpec
	at org.junit.platform.engine.discovery.ClassSelector

[2018-01-11 14:00] raniejade commented on #6
Have you tried running it w/ `Gradle-aware Make`? It should handle cases for non android modules.

[2018-01-11 14:02] patjackson52 commented on #6
Yes, when running w/ `Gradle-aware Make` it does not use updated code, and I have to build it separately before running the Spek tests.

[2018-01-11 14:12] raniejade commented on #6
Hmm, can you try our test sample project https://github.com/spekframework/spek-android-example? It also includes a non-android module.

[2018-01-11 14:32] patjackson52 commented on #6
Ok, Sample project works fine.  I found more info on why this is not working for me.

My project does not have any android modules.  I tested the sample project by removing the android module and the behavior was the same, it ran the test but did not use updated code.

It would be great if Spek could support projects w/o android modules in AS.  I understand this is ANDROID Studio, and there is Int

[2018-01-11 15:05] patjackson52 commented on #6
Intellij using the run config "Spek - JVM" where android uses the config "Spek - Android".  Is there a way to use "Spek - JVM" in AS?

[2018-01-13 02:17] raniejade commented on #63
Can you paste the spec you're running?

[2018-01-13 02:31] raniejade commented on #6
@patjackson52 I tried implementing that initially, but it's really hard to implement correctly. The AS 3.0 support is already hacky, I don't want to add more to that mess. Why do you need AS for that?

[2018-01-13 16:54] patjackson52 commented on #6
It's kind of a long story.  Basically I have an AppEngine project and
running local builds with debugging works much better with the AS +
plugin.  Hoping there was a easy fix, but if not this is proy not worth
it.  That and keeping g the same IDE for Android and non Android projects.

On Jan 12, 2018 9:31 PM, "Ranie Jade Ramiso" <notifications@github.com>
wrote:

[2018-01-16 08:56] landpro commented on #63
`package io.hapicloud.testk

import com.hapi.kafka.client.KafkaPublisherImpl
import com.natpryce.hamkrest.assertion.assertThat
import com.natpryce.hamkrest.equalTo
import io.hapicloud.test.ConfigurationContext
import io.hapicloud.testk.ows.KafkaListener
import io.hapicloud.testk.ows.OxiHubClient
import io.hapicloud.testk.ows.OxiRequest
import io.hapicloud.testk.ows.TestContext
import io.hapicloud.

[2018-01-30 09:40] yunikkk commented on #44
Hey.

I'm getting a similar issue when trying to launch specific "it" inside of spec, pressing green triangle.

[code]

[2018-01-30 09:44] yunikkk opened #64 "Android Studio 3.1 Canary 9"
I've already created issue in the main spek repo (https://github.com/spekframework/spek/issues/354), seems here is a better place for it.

Spek plugin `0.5.4-studio3.0` fails to run tests.
Trying with sample https://github.com/spekframework/spek-android-example produces
`Error running 'org.spekframework.speksample.CalculatorSpec': com.android.tools.idea.gradle.project.model.AndroidModuleModel.getS

[2018-01-30 10:46] yunikkk commented on #64
Well, I managed to update Kotlin and Gradle plugin's version, assembled plugin then works with Canary, too.

[2018-01-31 09:58] raniejade commented on #63
@landpro sorry for the delay, so busy with moving countries. I see you're using string interpolation in the description, which is not supported by the plugin as for the moment.

[2018-01-31 09:58] #63 closed

[2018-01-31 09:59] raniejade commented on #64
@yunikkk so just recompiling the plugin fixed it?

[2018-02-01 22:28] yunikkk commented on #64
Basically, yes.
It worked with `kotlinVersion=1.2.20` and plugin `"org.jetbrains.kotlin:$kotlinVersion-release-Studio3.1-1`.

[2018-02-05 10:57] julioyg commented on #64
Hi, there, so, what's the fix? is it going to be any update?

Thanks

[2018-02-05 11:21] raniejade commented on #64
I'm not keen on doing a release for a canary version.

On Mon, 5 Feb 2018, 9:57 PM Julio Yaguez, <notifications@github.com> wrote:

--
Cheers,
Ranie Jade Ramiso
Software Engineer
w: http://polymorphicpanda.io

[2018-02-05 13:35] julioyg commented on #64
makes sense, would it be possible then, to have some instructions on how to compile it in the same way @yunikkk did, so anyone who wants to use the preview version of AS can use it?

[2018-02-06 11:02] raniejade commented on #64
`./gradlew clean plugin-studio3.0:buildPlugin` should do it, the plugin will be at `plugin-studio3.0/build/distributions`.

[2018-02-13 08:25] avdvyver commented on #30
Just as general note for anybody running into this -
I did two things to solve the problem
- Updated Gradle (now using the build in Intelij Wrapper)
- Updated Java SDK (Now running 163.*)

[2018-02-13 21:55] elyashivlavi commented on #36
Hi, I'm facing the same issue...
I tried put this extension in `main/resources`, but still get the same error...

[2018-02-16 08:12] landpro commented on #63
Thank you for your response @raniejade – we eventually switched to JUnit5 + Kotlin

[2018-02-16 08:13] landpro commented on #63
Looking forward to seeing Spek IDEA plugin to develop

[2018-03-27 05:45] radityagumay commented on #64
@raniejade HI, i just update AS 3.1.0. and suddenly i cannot run spek by using IDE. but still run when using command line. how to fix that?

[2018-03-27 10:43] raniejade commented on #64
I'm trying out a fix locally, but the jcenter outage is blocking me. Hopefully, this gets fixed soon.

[2018-03-28 10:46] raniejade commented on #64
@radityagumay @julioyg @yunikkk can you guys test this build out: https://drive.google.com/file/d/11BT-2alz6C6XxqZCAqggje1l1HvNxarl/view?usp=sharing.  It works for me, let me know if there are issues.

[2018-03-28 10:52] julioyg commented on #64
works for me

[2018-03-28 10:57] radityagumay commented on #64
@raniejade hi, great.i will check that out and info to you soon!

[2018-03-28 12:24] almozavr commented on #64
I've tried the latest plugin from the link on above, but it fails with `Test framework quit unexpectedly`. Could anyone help to get the logs out?
![screenshot](https://d1ro8r1rbfn3jf.cloudfront.net/ms_15285/g5bsdDwKbSLJsdeUjnQPLueinSn6ly/treel-android%2B%255B%257E%252Fandroid%252Fworkspace%252FTechery%252Ftreel%252Ftreel-android%255D%2B-%2B...%252Fapp%252Fsrc%252Ftest%252Fkotlin%252Fcom%252Fvodola

[2018-03-28 13:03] radityagumay commented on #64
@raniejade I got different error

[code]

[2018-03-28 13:04] radityagumay commented on #64
@raniejade I got some error

[code]

[2018-03-28 13:10] radityagumay commented on #64
@almozavr can you share you full config?

I use AS 3.1.0
classpath 'com.android.tools.build:gradle:3.1.0' ,
 ext.kotlinVersion = '1.2.31'

I got
Caused by: com.android.builder.dexing.DexArchiveBuilderException: Failed to process /Users/radityagumay/AndroidStudioProjects/Foo/GreateApp/app/libs/junit-platform-launcher-1.0.1.jar

[2018-03-28 14:54] almozavr commented on #64
@radityagumay here it is

## Gradle wrapper:
4.6

## Dependencies versions

[code]

## Buildscript Dependencies

[code]

## app's build.gradle

[code]

[2018-03-29 02:19] raniejade commented on #64
Perhaps, try updating junit-platform?

[2018-03-29 04:32] radityagumay commented on #64
@raniejade i've been update like @almozavr answer but, still wont works.

<img width="869" alt="screen shot 2018-03-29 at 11 26 31 am" src="https://user-images.githubusercontent.com/2456076/38070066-196afebc-3344-11e8-96e1-ee9b33a55bc3.png">

here's my configuration

================== buildscript ====================

`buildscript {
    ext.kotlinVersion = '1.2.31'
    repositories {
        jcen

[2018-03-29 08:55] raniejade commented on #64
@radityagumay that means the plugin is not loaded.  Can you guys dump what versions of JUnit Platform are you using?  The plugin works with this project: https://github.com/spekframework/spek-android-example

[2018-03-29 11:07] almozavr commented on #64
@radityagumay you're missing
[code]
Note, it's not a custom dependency, but a function from `de.mannodermaus.android-junit5` plugin.

[2018-03-31 08:56] raniejade commented on #64
@almozavr is it working for you? or is there a dexing error?

[2018-04-02 05:08] jhowardsandy commented on #30
I was able to resolve this by opening the IntelliJ settings -> Build, Execution, and Deployment -> Build Tools -> Gradle: From here I needed to update the selected gradle and SDK values. The ones from my project were incorrect, likely checked into version control that way.

[2018-04-04 10:58] raniejade commented on #64
Hey guys, is anyone still experiencing an error? Otherwise I'm going to release the build this weekend.

[2018-04-04 11:16] rrva opened #65 "Double-click on test results describe/on/it does not jump to source"
In the test results window, when I double-click on any of the describe/on/it levels I expect
the editor to jump to the source location of the corresponding block. Double-clicking does nothing.

[2018-04-04 11:31] raniejade commented on #65
@rrva It is expected, there isn't a way to get source code location at runtime.

[2018-04-04 11:46] yunikkk commented on #64
@raniejade works for me, too. AS 3.1 RC3.

[2018-04-04 11:48] rrva commented on #65
Is there anything planned in the spek framework that will make this possible, or any known workarounds?

[2018-04-04 12:05] raniejade commented on #65
It's really a language limitation, no known workarounds. We could parse the source code, but that's a bit too much. Another option is a compiler plugin, but there isn't any documentation about it (and the API is most likely not stable).

[2018-04-04 12:33] radityagumay commented on #64
didnt works for me, and several my friend that use AS 3.1 stable. maybe i can use RC3 instead @raniejade

[2018-04-04 13:10] yunikkk commented on #64
Hmm, just updated to AS 3.1, still works fine here @radityagumay . Guess its smth with your project settings.

[2018-04-05 08:20] castorflex commented on #64
@raniejade Your fix worked for me too (AS 3.1), thanks :)

[2018-04-06 11:47] almozavr commented on #64
@raniejade plugin works pretty fine 👍

[2018-04-07 06:52] rrva commented on #65
This is one of the top productivity issues with this plugin for me.

[2018-04-18 13:51] peterholak commented on #65
The default `Android JUnit` run configuration type, does at least support jumping to the correct file (right-click on the class name in test results, or press F4 on it).

So it should be possible for the `Spek - Android` type to support at least that much.

[2018-04-18 14:04] peterholak commented on #65
The top level (navigate to class) doesn't work for me either. Right-clicking on it shows "Nothing here". Version `0.5.5-studio3.0` with Android Studio 3.1.1.

Android Studio's built-in `Android JUnit` run configuration type does at least support jumping to the correct `object` (via right-click or F4).

[2018-05-05 04:13] paul-hammant opened #66 "Guide needed for incomplete IntelliJ integration"
I encounter this, when I clicked on the green triangle.

![intellij ideascreensnapz002](https://user-images.githubusercontent.com/82182/39659567-dadac73a-5022-11e8-907f-713147f5bbd6.png)

I don't know what I configured incorrectly, or what version of what is subtly incompatible.  Some advice to be added to the documentation?

[2018-05-05 10:27] tntclaus commented on #66
AFAIK it is not implemented yet.

[2018-05-06 19:45] paul-hammant commented on #66
Guide could point that out explicitly :)

[2018-05-06 22:56] raniejade commented on #66
Hmm,  can you paste your spek class?

[2018-05-10 20:01] paul-hammant commented on #66
@raniejade Who? Why?

[2018-05-10 21:26] raniejade commented on #66
@paul-hammat of course you :). To know what's incompatible. Running `it`s individually is supported by the plugin.

[2018-05-11 06:36] raniejade commented on #66
Looks like a legit bug, this is what causing it:

[code]

Maybe just change it for now, to:

[code]

Then using it, instead of:

[code]

Do:
[code]

[2018-05-13 06:46] paul-hammant commented on #66
I'm looking in Jooby's own source for that and see - https://github.com/search?q=org%3Ajooby-project+SpecBody.jooby&type=Code

I'm wondering if I should just wait for you to fix something and do a release (implicit from "legit bug" in your text). I mean waiting for this feature is OK.

[2018-05-13 10:02] raniejade commented on #66
I'll fix it on the plugin for `2.x`, but I'm not inclined to backport it to `1.x` plugin as it is not a critical issue. Backporting is not as easy as cherry-picking since the two codebases have diverged.

[2018-05-13 10:30] tntclaus commented on #66
@raniejade thank you. I think we can use your workaround :) I also found another bug in the same section but in another project. Single test/group fail with NPE. You can reproduce it this way: clone  https://github.com/eraga/async-jpa and launch any single test from idea. But dont try hbase tests package, it requires some additional setup. Do I need to open separate ticket for this?

[2018-07-04 18:21] jonpeterson commented on #45
Did some poking around and found that what is needed is creating and appending the IDEA's DiffHyperlink in there somewhere.

[2018-07-28 20:43] whaley opened #67 "Plugin failed with org.jetbrains.kotlin.psi.KtBinaryExpression cannot be cast to org.jetbrains.kotlin.psi.KtStringTemplateExpression"
I'm not entirely sure what I did to create this, but it occurred as I was removing some code and moving around a .kt file that extended  from org.jetbrains.spek.api.Spek within a test directory.

Stack trace:
[code]

[2018-10-14 20:22] tieskedh opened #68 "com/android/tools/idea/run/PreferGradleMake"
In a project where I did not use spek (or android) I got the following exception:

I also was not able to run anything, even main.

[code]

[2018-11-24 23:08] frankgerhardt opened #69 "Support IntelliJ build 183 (latest as of now)"
Title says it all.

[2018-11-28 06:17] rburgst commented on #69
Might be related, but Android Studio 3.3 Preview doesnt seem to work either. Can neither manually create a run config nor are there any options to click the play button in a Spek class

[2018-11-28 08:57] raniejade commented on #69
Fun times, I already fix this with spek 2.0 plugin - and I need to do it here as well. Will look into it!

[2018-11-28 10:38] raniejade commented on #69
Can you guys try this build out?
`IJ2018.3`
[0.6.0.zip](https://github.com/raniejade/spek-idea-plugin/files/2623991/0.6.0.zip)

`AS 3.2`
[0.6.0-studio3.2.zip](https://github.com/raniejade/spek-idea-plugin/files/2623993/0.6.0-studio3.2.zip)

Have no plans to support AS3.3 - spek1 is in maintenance mode.

[2018-11-28 10:58] frankgerhardt commented on #69
It worked for me in IJ2018.3

[2018-11-29 06:05] rburgst commented on #69
does this mean that I need to migrate to spek 2 for AS 3.3? Will it work already there or do I need to wait for a new version?

[2018-11-30 09:16] raniejade commented on #69
AS 3.3 is still in canary, by the time it goes into GA then 2.x will be out

[2018-11-30 16:10] CreamyCookie opened #70 "Changes not mentioned"
The changelog in IntelliJ IDEA links me to https://github.com/raniejade/spek-idea-plugin/blob/master/CHANGES.md which links me to https://github.com/raniejade/spek-idea-plugin/releases but there isn't any news about v0.6.0-1

[2018-11-30 23:03] raniejade commented on #70
I'll update it later, it only contains the fix for #69.

[2018-12-07 11:08] igorwojda opened #71 "Unable to run JUnit tests with Android Studio 3.3RC2"
As a result for this crash we can't start any test from IDe (including pure JUnit test)
![image](https://user-images.githubusercontent.com/530122/49644393-3d51ec80-fa10-11e8-80ed-ccf29029a8bb.png)

Just create a new project in AS 3.3RC1 and try to run test having Spek plugin installed

Crash:
[code]

[2019-01-14 20:01] ebrowne72 commented on #69
AS 3.3 is out and Spek 2.x isn't. Can we get a version of the plug-in for AS 3.3?

[2019-01-16 10:59] igorwojda commented on #71
AS 3.3
Spek Version: 0.5.5-studio3.0
Spek Framework Version: 2.0.0-rc.1.170+fe27af0-Studio3.3

[code]

[2019-01-16 11:33] m-maillot commented on #71
A new version `2.0.0-rc.1.180+b8533a4-Studio3.3` has been published and waiting the Jetbrains approval (https://kotlinlang.slack.com/archives/C0BE6KSRW/p1547631046024800?thread_ts=1547630740.024000&cid=C0BE6KSRW)

[2019-01-17 12:09] raniejade commented on #71
I'll look into it this coming weekend, hopefully I don't need to do anything big.

[2019-01-17 15:15] iTomkinas commented on #71
I had the same problem with android studio 3.3, but it seems that in android studio preview 3.4 this is issue is fixed

[2019-01-19 10:33] raniejade commented on #71
Can you guys test out the build mentioned here? https://github.com/spekframework/spek/issues/571#issuecomment-455768428

[2019-01-25 22:33] eskfung commented on #71
This build seems to have solved my problems. Thanks!

[2019-01-26 00:18] raniejade commented on #71
Good to hear, I'll publish the build to the proper channels later.

[2019-01-26 00:23] raniejade commented on #71
Prior to AS3.3 the android plugin was present in the classpath of every plugin, but on AS3.3 it was changed and you have to explicitly request it in the `plugin.xml` file. The change may or may not be intentional, but I think in AS3.4 it was reverted back to the old behaviour.

[2019-02-04 09:13] m-maillot opened #72 "Subfolders not taken into account"
When I run all tests in a folder (right click on folder > Run 'Spek tests in...'), the plugin does not run tests into subfolders. It runs only test at the root of this folder.

Spek version: `2.0.0`
Spek plugin: `2.0.0-rc.1.180+b8533a4-Studio3.3` and `2.0.0-Studio3.3`

Android Stuido: `Android Studio 3.3 Build #AI-182.5107.16.33.5199772`

[2019-02-04 12:26] raniejade commented on #72
@m-maillot can you move this to https://github.com/spekframework/spek? This repo is for the spek1 IDE plugin,

[2019-02-04 12:26] #72 closed, assigned to nobody

[2019-02-04 12:44] m-maillot commented on #72
It's already opened: https://github.com/spekframework/spek/issues/606 👍

[2019-05-17 20:54] ebrowne72 opened #73 "Unmocked Android JAR not used"
I use the [Unmock plugin](https://github.com/bjoernQ/unmock-plugin) to use actual Android classes in my tests. It creates /build/intermediates/unmocked-android.jar, which is added to the classpath when I run tests with the Spek plugin, but it appears in the classpath after android.jar from the SDK. This means that the stubbed versions of the classes are used instead of the unmocked ones, which cau

[2019-06-24 15:52] Pato94 opened #74 "Classpath issue in newer android studio versions"
I've seen that there are some issues about the `android.jar` not being properly mocked in newer android studio versions.
Investigating the issue I found that the plugin behaves differently from the version 3.4 (not including the mocked version of `android.jar`)
While trying to see what was wrong, I compiled the plugin locally, and it turns out to work just fine, both in newer and older android stu

[2019-07-01 12:40] laurentlr commented on #74
👍

[2019-08-20 21:10] ebrowne72 commented on #73
Still have this issue with Android Studio 3.5.

[2019-12-23 07:45] kawpii opened #75 "Incompatible with current version of Android Studio"
![speck issue](https://user-images.githubusercontent.com/24698778/71343544-2849ec00-2586-11ea-9b50-b8729665f1fa.png)

[code]

[2020-01-08 00:49] 3flex opened #76 "Releases page is a bit confusing"
[Releases page](https://github.com/raniejade/spek-idea-plugin/releases) shows 0.4.3 as the latest release (but 0.6.1 is currently the most recent version). The newer releases are hidden under "Show 8 newer tags" - ideally we'd just see the latest (and previous) releases listed like they used to be.

![image](https://user-images.githubusercontent.com/170028/71941078-a657f500-320c-11ea-8412-e8ae3212

[2020-02-08 10:41] frikit commented on #65
@raniejade maybe at least implement to go to File/Class anywhere you click will open this File/Class

What do you think ? at least something to navigate to source code

[2020-02-12 16:27] tieskedh opened #77 "folding"
It would be great if this plugin would add some folding like the advanced java folding - plugin.

[2021-10-19 01:01] #76 closed, assigned to nobody

[2022-02-03 13:50] mdoto-prisma opened #78 "Plugin doesn't work on Intellij IDEA"
IDEA Version: 2021.3 - Build #IU-213.5744.223, built on November 27, 2021
OS: Ubuntu 18.04.6 LTS

Message:

`com.intellij.diagnostic.PluginException: The default implementation of method 'getId' is deprecated, you need to override it in 'class org.jetbrains.spek.idea.SpekJvmConfigurationFactory'. The default implementation delegates to 'getName' which may be localized, but return value of this met

[2022-08-01 16:22] smurfless1 commented on #30
I hit this after an upgrade once because the run/debug configuration had somehow set the python instance to "None". Picking one made this disappear.

[2022-10-15 15:49] ZeinSulayman commented on #30
I am on a Mac encountering the same error message but on Pycharm instead. When I go to preferences -> Build, Execution, Development there is no option for gradle. Confused on how to fix it.

[2022-11-08 08:40] chitrasymbl commented on #30
@ZeinSulayman I am facing the same issue with Pycharm.
Did you yet find any solution to this error ?

[2022-11-08 17:47] ZeinSulayman commented on #30
@chitrasymbl It was a while back but I think I went through a series of deleting and reinstalling pycharm until it worked. Make sure you download the Apple Silicon M1 version of pycharm instead of the intel one.